.seznamOsob{
  grid-row: 2;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 80%;
  gap: 5px;
}

.seznamOsob .seznamOsobBlok{
  overflow-y: scroll;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.person-item {
  background-color: #00509D; /* Tmavě modrá */
  color: #FDC500; /* Žlutá */
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  width: 100%;
  gap: 10px;
  }

  @media only screen and (max-width: 1000px) {
    .person-item {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

    }
  }
  
  .person-item:hover {
    transform: translateY(-2px);
    background-color: #003F88; /* Střední modrá */
  }
  
  .person-item h3 {
    margin: 0;
    color: #FFD500; /* Světle žlutá */
  }
  
  .person-item .actions {
    display: flex;
    gap: 5px;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  
  .action-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    fill: #FDC500; /* Žlutá pro ikony */
  }
  
  .action-icon:hover {
    fill: #FFD500; /* Světle žlutá */
  }

  .action-button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .edit {
    background-color: #FDC500; /* Žlutá */
    color: #00296B; /* Tmavě modrá */
  }
  
  .delete {
    background-color: #003F88; /* Modrá */
    color: #FFFFFF; /* Bílá */
  }
  
  .action-button:hover {
    opacity: 0.9;
  }
  
  .seznamOsobBlok{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }