.actions {
    display: flex;
    gap: 10px;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  
  .action-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    fill: #FDC500; /* Žlutá pro ikony */
  }
  
  .action-icon:hover {
    fill: #FFD500; /* Světle žlutá */
  }

  .action-button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .edit {
    background-color: #FDC500; /* Žlutá */
    color: #00296B; /* Tmavě modrá */
  }
  
  .delete {
    background-color: #003F88; /* Modrá */
    color: #FFFFFF; /* Bílá */
  }

  .info{
padding: 2px;
background-color: #FDC500;
display: flex;
align-items: center;
justify-content: center;
  }

  .info svg{
    width: 25px;
  }
  
  .action-button:hover {
    opacity: 0.9;
  }
