.seznamUkolu{
    grid-row: 2;
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80%;
  gap: 5px;
}

  .seznamTypu{
    grid-row: 1;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  
  .seznamTypu .seznam {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }


  .seznamUkoluBlok{
    overflow-y: scroll;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    .seznamUkolu{
      grid-row: 4;
      grid-column: 1;
      display: grid;
      grid-template-columns: 20% 60% 20%;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      height: 80%;
      width: 100%;
      gap: 5px;
  }
  }
  