@font-face {
	font-family: 'Sucrose Bold Two';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2') format('woff2');
	}
@font-face {
font-family: 'IM Fell French Canon Pro';
src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2') format('woff2');
}

header {
	position: absolute;
	top: 15%;
	font-size: xX-large;
	font-family: 'Sucrose Bold Two';
	color: #00296B;
}
main {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5%;
  height: 100%;
}

.app-container {
  width: 98%;
  margin: auto;
  height: 100%;
  padding: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20%
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}




