.modal-overlay {
  z-index: 1000;
  position: fixed; /* Změněno z 'absolute' na 'fixed' pro pokrytí celého viewportu */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Půlprůhledné černé pozadí */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  z-index: 101; /* Zvýšení z-indexu, aby byl nad overlay */
  position: fixed; /* Změněno z 'absolute' na 'fixed' pro správné zobrazení ve viewportu */
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto; /* Přidáno pro automatické centrování */
}

.modal-content form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5px;
}

.modal-close {
  position: relative;
  bottom: 0;
}