.regist-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 30%;
    gap: 30px;
    background-color: #00509D;
    border-radius: 20px;
    padding: 20px;
  }

  .loginbutton:disabled {
    background-color: #CCCCCC;
    color: #666666;
  }
  
